.img{
    width: 20rem;
    height: 23rem;
    display: flex;
    margin: auto;
}
.form{
    border: 1px solid black;
    width: 30rem;
    height: 10rem;
    text-align: center;
    margin: auto;
}
.pesquisa{
   
    width: 15rem;
    height: 2rem;
} 
.bpesquisa{
    height: 2.4rem;
    background-color: bisque;
    border: none;
}
::placeholder{
    text-align: center;
} 