nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(107, 107, 185);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 3rem;
}

a {
    text-decoration: none;
}

a:hover {
    border: 1px solid white;

}

a:visited,
a:active {
    color: white;

}